{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Magazine/Components/assets/css/magazine.css') }}

{{ set_assets('applications/Magazine/Components/assets/js/magazine.js') }}

<h1 class="component-header">{{ item.title }}</h1>

<div class="magazine-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>


<div>
    <iframe src="{{ uri.base.full }}viewerjs/index.html#{{ uri.base.full }}{{ item.file_file }}" style="width: 100%; height: 500px;"></iframe>
</div>


<div> 
    <div class="clr"></div>
    <br>
    <br>
    <div class="well well-sm">Related Magazines</div>
    {% include "magazine.related.twig" ignore missing with {'magazine_id': item.id}  %}
</div> 
