
<link rel="stylesheet" type="text/css" href="{{ web_root }}assets/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{{ web_root }}assets/css/font-awesome.css"/>

{% set magazine_url =  generate_url('magazines.magazines.detail', {'id': item.id}) %}

<div class="col-md-12">

    <div class="magazine-preview-link">
        <a class="btn btn-success btn-sm btn-flat" href="{{ magazine_url }}" title="Download Magazine"> Back To Magazine</a>
        <a class="btn btn-danger btn-sm btn-flat pull-right" href="{{ magazine_url }}" title="Download Magazine"> 
            <i class="fa fa-times"></i>
            Close
        </a>
    </div>

    <iframe src="{{ web_root }}viewerjs/index.html#{{ web_root }}{{ item.file_file }}" style="width: 100%; height: 500px;"></iframe>
</div>

<style>
    .magazine-preview-link{
        margin:5px 0;
    }
</style>
