{# empty Twig template #}

{{ set_assets('applications/Magazines/assets/css/magazine.css') }}

{% set item_url = generate_url('magazines.magazines.detail', {'id':items.0.id})  %}

<div class="component-magazines">
    {% if items|length > 0 %}


        {% for key,magazine in items%}

            {% set magazine_dowload_url =  generate_url('magazines.magazines.download', {'id': magazine.id}) %}
            {% set magazine_url =  generate_url('magazines.magazines.detail', {'id': magazine.id}) %}
            {% set category_url =  generate_url('magazines.categories.detail', {'id': magazine.category_id}) %}

            <div class="col-sm-4">
                <div class="component-magazine">

                    <h4>
                        <a href="{{ magazine_url }}" title="{{ magazine.title }}">
                            {{ magazine.title }}
                        </a>
                    </h4>

                    <div class="component-magazine-image">
                        <a href="{{ magazine_url }}" title="{{ magazine.title }}">
                            <img src="{{ resized_image(magazine.image_file,null,300,'fit') }}" alt="{{ magazine.title }}" title="{{ magazine.title }}"/>
                        </a>
                    </div>
                    <br>

                    <b>Category:</b>
                    <a href="{{ category_url }}" title="{{ magazine.category_id_title }}">
                        {{ magazine.category_id_title }}
                    </a>
                    <br>
                    <a class="btn btn-success btn-sm btn-flat" href="{{ magazine_url }}" title="View Magazine">More Info</a>
                    <a class="btn btn-primary btn-sm btn-flat pull-right" href="{{ magazine_dowload_url }}" title="Download Magazine">Download</a>
                    <div class="clearfix"></div>
                </div>
            </div>


        {% endfor %}
    {% else %}
        No Products
    {% endif %}
</div>


<div class="clearfix"></div>

{% include "items.pagination.twig"%}