{# empty Twig template #}

{{ set_assets('applications/Magazine/Components/assets/css/magazine.css') }}

{% set item_url = friendly_url('app=magazine&com=magazine&subset=magazine&view=detail&id='~ items.0.id)  %}

<div class="component-categories">
    {% if items|length > 0 %}

        {% set div_row_begin = '<div class="magazine-row-magazine">' %}
        {% set div_row_end = '</div>' %}

        {{ div_row_begin|raw }}

        {% for key,category in items%}

            {% set category_url =  friendly_url('app=magazine&com=category&subset=category&view=detail&id=' ~ category.id) %}
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <td>
                                <h4>
                                    <a href="{{ category_url }}" title="{{ category.title }}">
                                        {{ category.title }} 
                                    </a>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ category.description }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-xs btn-flat" href="{{ category_url }}" title="View Detail">
                                    View Detail
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if not (key+1) % 3   %}
                {{ div_row_end|raw }}
                {{ div_row_begin|raw }}
            {% elseif  key+1 == items|length %}
                {{ div_row_end|raw }}
            {% endif %}

        {% endfor %}
    {% else %}
        No Products
    {% endif %}
</div>


<div class="clr"></div>

{% include "items.pagination.twig"%}